@import "tailwindcss";
@import "daisyui";

@config {
   /* themes: light --default, dark --prefersdark; */
   theme: {
      daisyui: {
         themes: ["light", "dark", "cupcake", "retro", "dracula"],
      },
   },
}
 